@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');
/**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik',sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100%;
  background: #222;
}
*/
.grid-container{
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-template-rows: minmax(100px,auto);
  /*margin: 10px;*/
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.grid-container .grid-box{
  background: #333;
  padding: 5px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}

.grid-container .grid-box:hover{
  background: #e91e63;
}

.grid-container .grid-box img{
  position: relative;
  max-width: 250px;
  /*margin-bottom: 10px;*/
}

.grid-container .grid-box:nth-child(1)
{
  grid-column: span 1;
  grid-row: span 2;
}

.grid-container .grid-box:nth-child(2)
{
  grid-column: span 1;
  grid-row: span 1;
}

.grid-container .grid-box:nth-child(3)
{
  grid-column: span 1;
  grid-row: span 1;
}

.grid-container .grid-box:nth-child(4)
{
  grid-column: span 1;
  grid-row: span 1;
}

.grid-container .grid-box:nth-child(7)
{
  grid-column: span 1;
  grid-row: span 1;
}

.grid-container .grid-box:nth-child(6)
{
  grid-column: span 1;
  grid-row: span 1;
}

.grid-container .grid-box:nth-child(5)
{
  grid-column: span 1;
  grid-row: span 1;
}

