
body {
    background-color: #161616;
    color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.c{
	text-align: right;
}

.button {
  background-color: inherit;
  border: none;
  color: #B19158
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Castellar','sans-serif';
}
.button:hover {background-image: url("images/tenor.gif");}
.button1 {width: 15%; height: 100px; border-radius: 12px; color: #B19158;}
.button2 {width: 15%; height: 100px; border-radius: 12px; color: #B19158;}
.button3 {width: 15%; height: 100px; border-radius: 12px; color: #B19158;}
.button4 {width: 15%; height: 100px; border-radius: 12px; color: #B19158;}
.button5 {width: 15%; height: 100px; border-radius: 12px; color: #B19158;}
.button6 {width: 15%; height: 100px; border-radius: 12px; color: #B19158;}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.text_color{
	font-family: 'Castellar';
	font-size: 40;
	color: #837244;
}

.hr { 
	display: block; 
	margin-before: 1em; 
	margin-after: 1em; 
	margin-start: auto; 
	margin-end: auto; 
	overflow: hidden; 
	border-style: inset; 
	border-width: 1px;
	background-color: #707070;
}

hr{
	border: 10px solid silver;
	margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.div1 {
  background-color: #161616;
  /*width: 300px;*/
  border: 2px solid black;
  padding: 50px;
  margin: 20px;
}

.orange-fade {
    /*background: #161616;*/
    background-image: url("images/tenor.gif");
    /*background: linear-gradient(135deg,#161616 0,#ffa841 100%);*/
}
.pos-r {
    position: relative!important;
}
.white {
    background: #fff;
}
.text-white {
    color: #fff!important;
}
.text-gray {
    color: #363636;
}
.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.separator {
    width: 14%;
    height: 3px;
    margin: 1.2em auto 1em;
    background: #ffc53a;
}
.one-slide {
  border-radius: 3px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  height: 300px;
}
.one-slide img {
  width: 60%;
}
.carousel-controls .control {
  position: absolute;
  cursor: pointer;
  top: 56.4%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  c
}
.prev {
  left: -1.875rem;
}
.next {
  right: -1.875rem;
}
.testimonial-carousel { 
  &.slick-initialized { 
    display: block; 
  }
 .message {
    width: 100%;
    font-size: .9rem;
  }
  .brand {
    width: 100%;
  }
  @media (max-width: 575px) {
    .one-slide {
	    height: 200px;
	  }
    img {
  	    width: 40%;
  	  }
  }
}

.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.btnsend {
	border-radius: 50%;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #707070;
  padding: 20px;
  width: 250px;
  height: 200px;
  background: #161616
}

#rcorners {
  border-radius: 15px 50px 30px;
  background: #161616;
  padding: 20px;
  width: 75%;
  height: auto;
  text-align: center;
}

#rcorners1 {
  border-radius: 50px / 15px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}
/*
.hi-slide { position: relative; width: 1185px; height: 626px; margin: auto; }
            
.hi-slide .hi-next,
.hi-slide .hi-prev 
            { position: absolute;
              top: 50%; 
              width: 40px;
              height: 40px; 
              margin-top: -20px;     
                border-radius: 50px; 
                 
                
              line-height: 40px;
              text-align: center; 
              cursor: pointer;
              background-color: #fff; 
              color: black;               
              transition: all 0.6s;
              font-size: 20px; 
                font-weight: bold;
            }
           .hi-slide .hi-next:hover, 
            .hi-slide .hi-prev:hover 
            {
            opacity: 1; 
            background-color: #fff;  
            }
            
           .hi-slide .hi-prev { left: -60px; }
            
    .hi-slide .hi-prev::before { content: '<'; }
    .hi-slide .hi-next { right: -60px; }
    .hi-slide .hi-next::before { content: '>'; }
    
            .hi-slide > ul
                    { 
                        list-style: none; 
                        position: relative;
                        width: 350px; 
                        height: 500px; 
                        margin: 0;
                        padding: 0;
            }
            
            
        .hi-slide > ul > li {
            overflow: hidden; 
            position: absolute; 
            z-index: 0; 
            left: 377px;
            top: 146px; 
            width: 500px; 
            height: 350; 
            margin: 0; 
            padding: 0;
            border: 3px solid #fff;              
            background-color: #333; 
            cursor: pointer; }
            
        .hi-slide > ul > li > img { width: 100%; height: 100%; background-position: center;}*/

.hii {
	font-family: 'Castellar';
	font-size: 40px;
	font-weight: bold;
	color: #B19138
}

.div2 {
  				background-color: #B19138;
  				width: 200px;
  				padding: 25px;
  				border-radius: 30px;
  				border: 2px solid black;
}


.header {
  /*background-color: #f1f1f1;*/
  background-image: url(images/tenor.gif);
  padding: 30px;
  text-align: center;
}
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url('http://garudapr.in/wp-content/uploads/2017/12/loader.gif') no-repeat center center;
	z-index: 99999;
}

#popUpMain{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 1001;
}

#popup{
	width: 500px;
	height: 500px;
	background-image: /*linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2))*/ url("C:/Users/DELL/Desktop/sky stories/images/chill.jpg");
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 2px 2px 5px 3px white;
}

#name{
	width: 60%;
	padding: 5px;
	margin-top: 60px;
	/*margin-bottom: 2px;*/
}

#contact1{
	width: 60%;
	padding: 5px;
	/*margin-top: 80px;*/
	
}

#m{
	color: white;
	font-weight: bold;
}

#u{
	color: white;
	font-weight: bold;
}

.submit{
	background-color: #707070;
	border: none;
	font-size: 1rem;
	padding: 0.6rem 1rem;
	color: white;
	text-align: center;
}

ul{
  margin: 0;
  padding: 0;
  display: flex;
}

ul li{
  list-style: none;
  margin: 0 20px;
  transition: 0.5s;
}

ul li a{
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  font-family: sans-serif;
  color: #B19138;
  text-transform: uppercase;
  transition: 0.5s;
}

ul:hover li a{
  transform: scale(1.5);
  opacity: .2;
  filter: blur(5px);
}

ul li a:hover{
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
}

ul li a:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #707070;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

ul li a:hover:before
{
  transition: 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.zoom {
  /*padding: 50px;
  background-color: green;*/
  transition: transform .2s; /* Animation */
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.u-container{
  position: relative;
  display: block;
  margin: 1.5em;
  padding: .7em;
}

.u-container .u-card{
  position: relative;
  width: 400px;
  height: 550px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.u-container .u-card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #707070;
  clip-path: circle(150px at 75% 15%);
  transition: 0.5s ease-in-out;
}

.u-container .u-card:hover:before{
  clip-path: circle(300px at 80% -40%);
}

.u-container .u-card:after{
  content: 'Clubbing';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,255,0.04);
}

.u-container .u-card .u-imgBx{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100px;
  height: 220px;
  transition: 0.5s;
}

.u-container .u-card:hover .u-imgBx{
  top: 0%;
  transform: translateY(0%);
}

.u-container .u-card .u-imgBx img{
  position: absolute;
  top: 50%;
  left: 150%;
  transform: translate(-50%,-50%);
  width: 500px;
}

.u-container .u-card .u-contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.u-container .u-card:hover .u-contentBx{
  height: 250px;
}

.u-container .u-card .u-contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.u-container .u-card .u-contentBx .time,
.u-container .u-card .u-contentBx .day{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
}

.u-container .u-card .u-contentBx .time h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.u-container .u-card .u-contentBx .time span{
  width: 100px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.u-container .u-card .u-contentBx .time span:hover{
  background: #9bdc28;
}

.u-container .u-card .u-contentBx .day h3{
 color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

/* Float four columns side by side */
.u-column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.u-row {margin: 0 -5px;}

/* Clear floats after the columns */
.u-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .u-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

